* {
	border: none;
	border-radius: 0;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
}

window#waybar {
	background: none;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	transition: none;
	background: #2e3440;
	color: #d8dee9;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	border-radius: 5px;
	transition: none;
	background: #2e3440;
}

#tags button {
	transition: none;
	color: #4c566a;
	background: transparent;
	border-radius: 0px;
}

#tags button.occupied {
	transition: none;
	color: #a3be8c;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #81a1c1;
	border-bottom: 2px solid #81a1c1;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #81a1c1;
}

#temperature {
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 5px;
	transition: none;
	padding: 0 10px;
	color: #a3be8c;
	background: #2e3440;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 0 10px;
	color: #a3be8c;
	background: #2e3440;
}

#battery {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;
	color: #a3be8c;
	background: #2e3440;
}

#battery.critical:not(.charging) {
	background-color: #d8dee9;
	color: #2e3440;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #bf616a;
		color: #d8dee9;
	}
}

#backlight {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;
	color: #88c0d0;
	background: #2e3440;
}

#custom-cpu {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;
	color: #88c0d0;
	background: #2e3440;
}

#custom-clock {
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;
	color: #a3be8c;
	background: #2e3440;
}

#tray {
	margin-top: 6px;
	margin-right: 12px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #d8dee9;
	background: #2e3440;
}
