/* #2e3440 is the bg */

* {
	border-radius: 0;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
}

window#waybar {
	background: none;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	transition: none;

	color: #8FBCBB;
	background: #2E3440;
	border-bottom: 3px solid #8FBCBB;
}

#custom-powermenu {
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 5px;
	transition: none;

	color: #d8dee9;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}


#custom-spotify {
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 5px;
	transition: none;
	background: #2e3440;
}

#tags {
	margin-top: 6px;
	margin-right: 12px;
	font-size: 7px;
	border-radius: 5px;
	transition: none;
	background: #2e3440;
	border-bottom: 3px solid #6a7796;
}

#tags button {
	transition: none;
	color: #4c566a;
	background: transparent;
	border-radius: 0px;
}

#tags button.occupied {
	transition: none;
	color: #a3be8c;
	background: transparent;
}

#tags button.focused {
	color: #81a1c1;
	border-bottom: 3px solid #81a1c1;
	background: #4C566A;
	border-radius: inherit;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #81a1c1;
}

#temperature {
	margin-top: 6px;
	margin-right: 12px;
	border-radius: 5px;
	transition: none;
	padding: 0 10px;

	background: #2e3440;
	color: #81A1C1;
	border-bottom: 3px solid #6a7796;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 0 10px;

	color: #D08770;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#battery {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;

	color: #A3BE8C;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#battery.critical:not(.charging) {
	background-color: #d8dee9;
	color: #2e3440;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #bf616a;
		color: #d8dee9;
	}
}

#backlight {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;

	color: #EBCB8B;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#custom-cpu {
	margin-top: 6px;
	margin-left: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;

	color: #B48EAD;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#custom-clock {
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 5px;
	transition: none;
	padding: 10px 10px;

	color: #BF616A;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#custom-spotify {
	margin-top: 6px;
	margin-right: 12px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 5px;
	transition: none;

	color: #d8dee9;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}

#tray {
	margin-top: 6px;
	margin-right: 12px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;

	color: #d8dee9;
	background: #2E3440;
	border-bottom: 3px solid #6a7796;
}
